@model MainPageViewModel
@section HeaderSection{
    <title>Blog index page</title>
}

<div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
             @await Component.InvokeAsync("BlogList")
            <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                @await Component.InvokeAsync("TagCloud")
                @await Component.InvokeAsync("MostPopular")
            </div>
        </div>
       
    </div>
</div>
@await Component.InvokeAsync("TrimbleCarouselBlog",new {categoryName="Teknoloji"})