@model List<LastModifiedPostsViewModel>
<div class="footer_main_title py-3"> Last Modified Posts</div>
@foreach (LastModifiedPostsViewModel m in Model){
                <a asp-controller="blog" asp-action="single"  asp-route-slugUri = "@m.slugUri" class="footer_img_post_6"><img src="@Url.Content(m.PictureURL)" alt="@m.Title"/></a>}
                